/* RESET  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* REGOLE GENERALI  */
:root{
    --primary-color: #0084FD;
    --primary-color-light: #b5ddff;
    --secondary-color: #9792e4;
    --black-gray-color: #333;
    --primary-color-text: white;
    --space-margin: 2rem;
    --space-padding: 2.2rem;
    --space-radius: 1rem;
    --space-radius-due: 2rem;

}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 var(--space-margin) ;

}

