/* RESET  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}

/* REGOLE GENERALI  */
:root{
    --primary-color: #0084FD;
    --primary-color-light: #b5ddff;
    --secondary-color: #9792e4;
    --black-gray-color: #333;
    --color-light: white;
    --color-dark: #333;
    
    --space-margin: 2rem;
    --space-margin-due: 5rem;
    --space-margin-tre: 3rem;
    --space-padding: 30px;
    --space-radius: 20px;
    --space-radius-due: 30px;

    --font-mini: 0.9rem;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 var(--space-margin) ;

}
.my-btn{
    display: inline-block;
    padding: 10px 15px;
    border-radius: 15px;
    font-size: var(--font-mini);
    text-decoration: none;
    word-spacing: 3px;
}

h3, h2, h1{
    margin: 30px 0;
}
h2{
    font-size: 2em;
}
h1{
    font-size: 3em;
}
/* p{
    font-size: 0.8em;
} */