/* MEDIUM */
@media screen and (max-width:768px){
    .container{
        max-width: 768px;
    }
    header .navigation{
        display: none;
    }
    header .navigation-icon{
        display: inline-block;
    }
}




/* SMALL  */
@media screen and (max-width:576px){
    .container{
        max-width: 576px;
    }
}