/* MEDIUM */
@media screen and (max-width:768px){
    /* GENERALE */

    .container{
        max-width: 768px;
    }

    /* HEADER */

    header .navigation{
        display: none;
    }
    header .navigation-icon{
        display: inline-block;
    }

    /* APPLICATION */

    #application .cards .card:first-child{
        flex-direction: column;
    }
    #application .cards .card:first-child > *{
        width: 100%;
    }

    /* PLANNING */

    #planning .row{
        display: inline-block;
    }
    #planning .row .col{
        width: 100%;
    }
    #planning .row .col:first-child p{
        margin-bottom: var(--space-margin);
    }
    #planning .row .col:first-child h3{
        font-size: var(--font-maxi-tre);
    }

    /* TESTIMONIAL */

    /* BENEFICTS */

    /* ABOUT /

    /* GET-STARTED */

    /* FOOTER  */
}




/* SMALL  */
@media screen and (max-width:576px){
    /* GENERALE */

    .container{
        max-width: 576px;
    }

    /* HEADER */

    #application .cards{
        flex-direction: column;
        margin: 0 auto;
    }

    /* APPLICATION */

    #application .cards .card{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    #application .card-space{
        display: flex;
        flex-direction: column;
    }
    #application .cards .card:first-child{
        width: 100%;
    }
    #application .card .card-image img{
        width: 80%;
    }
    #application .cards .card .card-image{
        padding-left: 0;
        display: flex;
        justify-content: center;
    }
    #application .my-btn{
        align-self: center;
        padding: 10px 50px;
    }

    /* PLANNING */

    #planning .row .col:first-child h3{
        font-size: var(--font-maxi-duec);
    }

    /* TESTIMONIAL */

    /* BENEFICTS */

    /* ABOUT /

    /* GET-STARTED */

    /* FOOTER  */
    
}